*{
	box-sizing:border-box;
}

body{
	
	background-color:maroon;
	color:#485e74;
	font-family:'Segoe UI', Tahoma, Geneva, sans-serif;
	line-height:1.6em;
	padding:16px;
}


ul{
	list-style:none;
	padding:0;
}

.container{
	max-width:1000px;
	margin:0 auto;
	padding:16px;
	
}

#branding span{
	color:#fff;
	
}

.wrapper{
	
	box-shadow:0 0 45px 5px rgba(72, 94, 116, 0.7);
}

.wrapper > *{
	padding:16px;
}

.company-info{
	background-color:white;
	color: white;
	font-weight: bold;
	text-decoration: none;
	
}

 .company-info ul{
	text-align:center;
	margin:0 0 16px 0;
	
}

.contact{
	background-color: grey;
	color: maroon;
	font-weight: bold;
}



.contact form{
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-gap:20px;
}

.contact form label{
	display:block;
	font-size:20px;
}


.contact form p{
	margin:0;
}

.full{
	grid-column:1/3;
}

.contact form input, .contact form textarea{
	
	width:100%;
	border:1px solid #c9e6ff;
	padding:16px;
}

.contact form input[type="submit"]{
	background-color:maroon;
	border:0;
	text-transform:uppercase;
}
.contact form input[type="submit"]:hover{
	background-color:black;
	color:#fff;
	
}

.fa {
	padding: 20px;
	font-size: 30px;
	width: 60px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
  }

  .fa-facebook {
	background: #3B5998;
	color: white;
  }
  
  .fa-twitter {
	background: #55ACEE;
	color: white;
  }
  
  .fa-google {
	background: #dd4b39;
	color: white;
  }
  .fa-instagram {
	background: #125688;
	color: white;
  }
  
  .fa:hover {
	  opacity: 0.7;
  }
  
  .fa-skype {
	background: #00aff0;
	color: white;
  }

footer{
	background-color:#333;
	color:#fff;
	text-align:center;
	padding:20px;
	margin-top:30px;
}

@media(min-width:700px){
	
	.wrapper{
		
		display:grid;
		grid-template-columns:1fr 2fr;
	}
	
	.wrapper > *{
		
		padding:2em;
	}
	
	.company-info h3, .company-info ul{
	text-align:left;
	
}
	
}

















